* {
	box-sizing: border-box;
	font-family: 'Muli', sans-serif;
	margin: 0;
	padding: 0;
}

/* OUTPUT SECTION START */

.components {
	/* width: 80%; */
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

h2 {
	color: #27aae1;
	font-size: 24px;
	line-height: 16px;
	font-weight: bold;
	font-style: normal;
	margin-bottom: 19px;
}
.card {
	background: #f7f6f7;
	border: none;
	border-radius: 0;
}
.output-img {
	width: 26.67px;
	margin-top: 31.67px;
	margin-left: 31.67px;
}

.image {
	background-color: #e0e9e9;
	height: 90px;
	width: 90px;
}

.card-text {
	font-style: normal;
	font-weight: bold;
	line-height: 23px;
	color: #404357;
}

/* BLOG SECTION START */

.blog-card {
	background: #f7f6f7;
}

.blog-body {
	margin-left: 30px;
}

.title {
	color: #1b3b6f;
	font-style: normal;
	font-weight: 800;
	font-size: 30px;
	line-height: 38px;
	margin-bottom: 0;
}

/* PEOPLE SECTION START */

.people-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
}

.people-title {
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
}

.people-text {
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
}
